header {
    color:aliceblue;
    font-family: 'Berkshire Swash', serif;
    padding: 0px 0px 0px 0px;
    background-color: aqua;
    text-align: center;
    border-radius: 10%;
    box-shadow: 20px 20px 50px white;
    min-width: auto;
    max-width: 600px;
}
h1 {
    font-size: 60px;
    -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}
.subHeadline {
    font-size: 30px;
    box-shadow: 20px 20px 50px white;
    -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Berkshire Swash', serif;
}
section {
    height: 30px;
    max-width: 600px;
    border: 3px solid aqua;
    padding: 10px
}

button {
    /* display: flex; */
    font-family: 'Berkshire Swash', serif;
}